[2018-04-04 17:32] 4knahs opened #1 "Support Mechanical Turk sandbox mode"
Currently the endpoint prefix is [hardcoded for mturk](https://github.com/aws-beam/aws-elixir/blob/master/lib/aws/mechanical_turk.ex#L579):

[code]

Since there is a [sandbox development endpoint](https://requester.mturk.com/developer/sandbox), it would be nice to support the "mturk-requester-sandbox" prefix as well.

The following lines allow passing the prefix through the options:

[code]

Then,

[2018-04-05 06:15] mrallen1 commented on #1
I think your suggestion is a good one. If you submit a PR, I will merge it.

[2018-04-05 15:41] mrallen1 commented on #1
Solved #2

[2018-04-05 15:41] #1 closed

[2018-04-06 12:41] 4knahs opened #3 "Wrong parameter name in Mturk error messages"
The [error messages](https://github.com/aws-beam/aws-elixir/blob/master/lib/aws/mechanical_turk.ex#L598) in mturk are always `nil`. Looking at the actual HTTPoison response from `create_additional_assignments_for_h_i_t\3`:

[code]

and looking at the [code](https://github.com/aws-beam/aws-elixir/blob/master/lib/aws/mechanical_turk.ex#L598) it seems that the error message field is wrong since it sh

[2018-04-06 18:02] mrallen1 commented on #3
Thanks for the message. This code is autogenerated by [aws-codegen](https://github.com/aws-beam/aws-codegen), so it is likely an error in the template which assembled this module for this API.

That's more than I have time to manage today but I will look into it.

[2018-04-09 10:27] 4knahs commented on #3
I correct my previous statement, the error messages aren't always `nil`.

Apparently the first letter case is arbitrary across requests.. Here is a response body to `AWS.MechanicalTurk.list_h_i_ts\3` with lower case:

[code]

[2018-04-13 12:17] ulutomaz opened #4 "NXDOMAIN - endpoint"
Hi,

i am having issues with connection to Kinesis. It looks like the endpoint you have as a default is wrong.
Same problem was at Boto library. `amazonaws.com` is wrong.

But I can't find a way to override this endpoint at Client initialisation.

[code]

Returns:
[code]

Best,
Tomaz

[2018-04-13 12:40] ulutomaz commented on #4
Not really an issue anymore. Fixed. Can close the case.

[2018-04-13 15:53] mrallen1 commented on #4
OK, thanks

[2018-04-13 15:53] #4 closed

[2018-04-20 01:26] adampash opened #5 "Access calls for keywords expect the key to be an atom, got: "X-Amz-Function-Error""
I'm on Elixir 1.6.4, using 0.5.0 of AWS.

I'm trying to use the Lambda portion of this library, and on invoking my function, I'm getting the following error:

`Access calls for keywords expect the key to be an atom, got: "X-Amz-Function-Error"`

It appears to be happening on line 299 here:

https://github.com/aws-beam/aws-elixir/blob/7d543d71802b3f6065d64a699458fb615915ea27/lib/aws/lambda.ex#L297-

[2018-04-20 11:44] ulutomaz opened #6 "IoT - shadow error"
Hi,

I am trying to get through the configuration of this package. To get to the point where I would be able to get and update the devices shadow, through the REST API. For easier development, I added my self a permission where I has access to all `iot:*` resources.

In my `config/dev.exs` I have a confguration like in Readme.md
[code]
Then, if i issue a code to initialize this client, I get back

[2018-04-20 15:11] tiagodavi opened #7 "I can't see the documentation"
Where can I find an online documentation for it?

Thank You,

Tiago.

MIX_ENV=docs mix docs
** (Mix.Config.LoadError) could not load config config/docs.exs

** (Mix) The task "docs" could not be found. Did you mean "do"?

[2018-04-20 15:46] mrallen1 commented on #7
The best place for now is: https://hexdocs.pm/aws/api-reference.html

[2018-04-20 15:54] tiagodavi commented on #7
Thank You. What is the Amazon S3 Service?

AWS Storage Gateway Service ?

And I saw the Rekognition and I couldn't understand what kind of input I should pass.

compare_faces(client, input, options \\ [])

Is there some example of how to use it?

Many Thanks.

[2018-04-20 18:57] tiagodavi commented on #7
Sorry. I meant wich kind of library of this package do I have to use to access S3?

[2018-04-20 21:12] mrallen1 commented on #7
Unfortunately S3 isn't supported in this library at this time.  It's just the services in the docs.

[2018-04-20 22:16] tiagodavi commented on #7
I understand. Thank You.

[2018-07-30 02:10] fermuch commented on #6
I found the error. `get_url` inside `iot_data.ex` returns an url ending with a slash (`/`). If you remove the slash, everything works.

**Before:**

[code]

**After:**

[code]

[2018-11-15 14:30] yraithatha commented on #5
@adampash : I too am facing the same problem. Were you able to resolve the issue?

[2019-02-18 21:52] matthewoden opened #10 "Thoughts on making dependancies adaptable?"
So, Poison and HTTPoison are dependancies - any thoughts on making those adaptable with behaviours? I noticed that the library still uses a pre-1.0 version of httpoison, and I couldn't help but wonder if the library really needs to be dependent on it all.

There's a lot of options for JSON decoders, Poison, Jason, Jiffy, etc. They all basically have the same interface, making that adaptable could

[2019-06-24 17:18] andreaazzini opened #13 "Update hex package, which currently points to jkakar/aws-elixir"
The title should be self explanatory, but when running `mix deps.get` on a project that uses `:aws ~> 0.5.0` as a dependency, the old `jkakar/aws-elixir` is fetched instead of `aws-beam/aws-elixir`.

This may cause dependency conflicts. For instance, I need `httpoison ~> 1.5`, but `jkakar/aws-elixir` specify older dependency versions (in this case `httpoison ~> 0.11.1`).

[2019-07-24 09:33] aerosol commented on #13
Much anticipated improvement

[2019-10-22 09:09] azzahidK commented on #10
I agree, in my project aws have a dependency conflict with neuron. neuron need poison 4.0 but aws need poison 3.1.

[2019-10-23 10:43] jcomellas commented on #5
@adampash If you can, please check if the changes in PR #14 fix this issue.

[2019-10-23 10:44] jcomellas commented on #6
@ulutomaz @fermuch Please check if the changes in PR #14 fix this issue.

[2020-01-07 23:12] #5 closed

[2020-01-07 23:12] #6 closed

[2020-04-16 02:56] calvin-kargo opened #17 "Support on instance role"
Is there any thought on how to integrate instance role with the rest of the module?
how about adding additional attribute on %AWS.Client struct and handle it at AWS.Request module?
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-for-amazon-ec2.html

[2020-06-22 21:21] robotarmy opened #18 "0.5.1? Is New Tag for Session Token coming?"
Hi- I see the session_token code on master and i've confirmed that it works - and that i'm unable to use the client without this token.

Is a updated tag available for this?

[2020-06-28 19:28] mrallen1 commented on #18
I tried to publish a new package to hex today but I got some weird errors from the process and I don't really know how to fix them. Hey @tsantero can you give me a hand here?

[2020-07-16 08:09] jfacorro commented on #3
@4knahs Do you know if this applies only to the mturk integration or to all of them?

[2020-07-16 14:24] #7 closed

[2020-07-16 14:34] jfacorro commented on #7
Support for S3 can be added once there is an implementation for the `rest-xml` protocol as specified [here](https://github.com/aws/aws-sdk-go/blob/master/models/apis/s3/2006-03-01/api-2.json#L8).

The currently available protocol implementations are `json` and `rest-json`.

[2020-08-05 10:39] jfacorro commented on #18
I was able to publish a new [v0.6.0](https://hex.pm/packages/aws) version to hex.pm.

[2020-08-05 10:39] #18 closed

[2020-08-05 10:40] jfacorro commented on #13
The [latest released version](https://hex.pm/packages/aws) of the package points to this repository now.

[2020-08-05 10:41] #13 closed

[2020-08-07 12:52] jfacorro opened #21 "Generate APIs using the query protocol"

[2020-08-07 12:54] jfacorro commented on #17
@calvin-kargo Could you provide more information on what feature it is you are asking for?

[2020-08-10 06:06] calvin-kargo commented on #17
hi @jfacorro , i am asking regarding support of instance role / task role for API request on aws-elixir library,

using instance role is alternative of providing AWS credential for API request (compared to using aws_access_key_id and aws_secret_access_key ) which has the advantage of has lower risk of leakage and no need to do key rotation. Supporting instance role on aws-elixir would help develop

[2020-08-11 10:08] #21 closed

[2020-08-11 10:09] jfacorro opened #23 "Generate APIs using the rest-xml protocol"

[2020-08-12 13:24] jfacorro commented on #3
After some investigation the shape of the error depends on the API being used and the specific error returned. A possible approach is the one described [here](https://github.com/aws-beam/aws-codegen/issues/23) which involved returning the full (decoded) error.

[2020-08-12 13:55] 4knahs commented on #3
Sorry for the late reply. From what i recall i tested just mturk, haven't touched that code in a long time though.

[2020-08-12 16:33] jkakar commented on #17
@calvin-kargo Have you looked at https://github.com/aws-beam/aws-erlang-metadata? I believe this will do what you need, if I understand your request correctly.

[2020-08-12 20:36] #23 closed

[2020-08-14 09:35] jfacorro commented on #17
@jkakar What was the reasoning behind having the functionality in `aws-erlang-metadata` in a separate repository instead of including it as part of `aws-erlang`?

[2020-08-14 11:09] robertoaloi commented on #17
Also, it seems like the `aws-erlang-metadata` has been forked/changed into aws-beam/aws-credentials.

[2020-08-14 13:05] jfacorro commented on #3
The clients are returning the whole parsed error in latest `master` now to avoid having to figure out the different paths to the message and code.

[2020-08-14 13:05] #3 closed

[2020-08-14 13:06] jfacorro opened #26 "Build pipeline using GitHub actions"
Add a build pipeline using GitHub actions.

[2020-08-14 14:00] #26 closed

[2020-08-14 18:18] jkakar commented on #17
@jfacorro I don't actually remember why we chose to create a separate repo/library for that functionality, but it does seem like it'd be valuable to roll it into the `aws-erlang` and `aws-elixir` code bases.

[2020-08-18 06:09] calvin-kargo commented on #17
Thanks @jkakar @robertoaloi @jfacorro https://github.com/aws-beam/aws_credentials seems like the correct way,
however i have trouble in setting up aws_credentials, especially on iso8601 depedency, is there erlang/otp/elixir version depedency on using aws_elixir and aws_credential? i am using Elixir 1.10.4 (compiled with Erlang/OTP 22)

[code]

[code]

after aws_credentials installation okay, is th

[2020-08-18 08:54] jfacorro commented on #17
@calvin-kargo AFAIK there shouldn't be any issues when compiling the project. Could you please share the result from running `rebar3 --version` and the contents of the `rebar3.crashdump` file?

[2020-08-18 10:04] jfacorro opened #28 "Support integer values in query protocol"
See aws-beam/aws-erlang#23.

[2020-08-18 10:12] #28 closed

[2020-08-18 12:32] jfacorro opened #30 "Handle the special case of `s3-control`"
See aws-beam/aws-codegen#26.

[2020-08-18 12:45] #30 closed

[2020-08-19 06:29] calvin-kargo commented on #17
Here is rebar version and crash dump (from `deps/iso8601`)

[]

[rebar3_crashdump.zip](https://github.com/aws-beam/aws-elixir/files/5094409/rebar3_crashdump.zip)

[2020-08-19 06:32] calvin-kargo commented on #17
also `rebar report`

[code]

[2020-08-19 06:39] jfacorro commented on #17
It might be an issue with the `rebar3` version. The latest stable version is `3.13.2`, but `3.6.1` is from around 2 years ago. Could you try upgrading `rebar3` and checking the results?

[2020-08-19 06:52] calvin-kargo commented on #17
@jfacorro have updated rebar3, but still getting same error
[code]

[2020-08-19 07:06] jfacorro commented on #17
It looks like `mix` is using its own `rebar3` though based on the command listed in the last line: `/home/calvin/.mix/rebar3`. Is that `rebar3` the one that was upgraded?

It would be useful to have a project were to reproduce the error, since this looks like a problem with the interaction of `mix+rebar3+iso8601`.

[2020-08-20 12:48] jfacorro opened #34 "Error when providing multiple querystring parameters"
### Description

When providing multiple querystring parameters (e.g. to `AWS.S3.list_objects/8`) the response from AWS is the error `The request signature we calculated does not match the signature you provided. Check your key and signing method.`.

### How to reproduce

Run the following with valid values for `bucket` and `prefix`:
[code]

The result is an error specifying that `The request sign

[2020-08-20 13:17] #34 closed

[2020-09-12 20:47] lumenlunae opened #41 "no function clause matching in AWS.Request.build_params/2"
Hello! Thank you for this lib. I was looking to migrate over from ex_aws but had problems getting S3 working. It wasn't on 0.6.0 so I used the main branch and am getting this error:

[code]

Let me know if you need anything else. Thank you!

[2020-09-18 22:01] tfwright commented on #41
I ran into this same issue. Strangely, I was able to get around it by wrapping the file data in a map, but then the uploaded file contains the whole map serialized rather than the original file. Similarly, when trying to download a file uploaded with other means using `get_object` it chokes because it tries to parse the file data as XML here: https://github.com/aws-beam/aws-elixir/blob/master/lib/

[2020-10-19 09:00] philipgiuliani opened #43 "Add support for EC2"
The library currently does not support the EC2 API.

Related: https://github.com/aws-beam/aws-codegen/issues/24

[2020-10-20 08:11] philipgiuliani commented on #43
In the meanwhile I am using this to get my required API call.
[code]

[2020-10-30 17:52] josevalim opened #44 "Define behaviour and docs for custom http client, json and xml parser"
AWS.HTTPClient, AWS.JSON and AWS.XML. Each of them with their respective docs.

/cc @vrcca

[2020-10-30 17:52] josevalim opened #45 "Migrate to Jason and Hackney"
Depends on #44.

[2020-11-10 12:32] RandomGuy2020 opened #47 "Unknow error on aws iot"
Hi ! I'm a newbie on elixir so maybe it's an easy problem ^^ I'm trying to create a policy in iot core so:
I'm trying to use the fuction create_policy(client, "policyName", **input**)  but I don't found an example to know how I have to write **input**  correctly, I have an issue {error,nil} and except the input format I don't know what can be the problem because I can make a get_policy(client, "po

[2020-11-10 15:02] philss commented on #47
Hi, @RandomGuy2020! Thanks for opening the issue.
The **input** value is a policy like the one in the example: https://docs.aws.amazon.com/cli/latest/reference/iot/create-policy.html#examples

We are investigating how to improve our docs to include some examples like these.

[2020-11-10 16:01] RandomGuy2020 commented on #47
Thanks for you quick reply! I'm very sorry but i'm very bad and it doesn't work when you will have time could you see the code below and say to me what's is wrong ?
Here is the code (I replace the 000000000000 by my id account) :
`
    client1 = initClient()

    input = %{
    "Version": "2012-10-17",
    "Statement": [
        %{
            "Effect": "Allow",
            "Action": [

[2020-11-10 16:11] philss commented on #47
@RandomGuy2020 I think you need to send the **input** as a JSON string, because it won't be converted automatically. Can you give a try and check if works?

[2020-11-10 16:18] RandomGuy2020 commented on #47
It doesn't work too when I use

`input=Poison.encode!(...) `

And the error is still {:error, nil}

[2020-11-10 16:51] philss commented on #47
@RandomGuy2020 can you try to create the same policy using AWS console?
Also, do you see warnings when you try to create the policy?

[2020-11-10 17:07] RandomGuy2020 commented on #47
It's working on aws console

[2020-11-10 17:14] philss commented on #47
OK, thank you! One more try: would you mind to use the GitHub version and see if works?
Just change your `mix.exs` to point to this repository: `{:aws, github: "aws-beam/aws-elixir"}`.

[2020-11-10 17:29] RandomGuy2020 commented on #47
Ok now I have an error 400, when I let the Poison.encode!(..) I don't have a message for the error but when I remove it I always have an error 400 but the body error is : \"message\":\"1 validation error detected: Value null at 'policyDocument' failed to satisfy constraint: Member must not be null\"

[2020-11-11 09:09] philss commented on #47
@RandomGuy2020 cool! We got something :D

I have an idea that is to use another HTTP client and log the request/response. Tesla has [this middleware](https://hexdocs.pm/tesla/Tesla.Middleware.Logger.html#module-logger-debug-output) that logs the request, so we can use that to inspect what is going on.  But the process of configuring another HTTP client is not documented yet (it was introduced in #

[2020-11-11 11:04] RandomGuy2020 commented on #47
I want to add the get_policy doesnt work with {:aws, github: "aws-beam/aws-elixir"} they say : The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details.
But it's working on the version 6

[2020-11-11 12:29] RandomGuy2020 commented on #47
I used the version 6. The input was wrong I had to:
input = %{policyDocument: test}
with test = Poison.encode!(%{
"Version": "2012-10-17",
"Statement": [
    %{
        "Effect": "Allow",
        "Action": [
            "iot:Publish",
            "iot:Receive"
        ],
        "Resource": [
            "arn:aws:iot:us-west-2:000000000000:topic/topic_1",
            "arn:aws:iot:us-west-2:0000000

[2020-11-11 12:29] #47 closed

[2020-11-20 20:53] vrcca opened #50 "Format code using mix format & validate"
Currently there is no .formatter.exs. It would be great to add it, format all the project & validate in our CI that new additions are formatted (See `mix format --check-formatted`).

[2020-11-20 20:53] vrcca commented on #50
This is a good first issue! 😄

[2020-11-20 20:56] josevalim commented on #50
Most of the files are generated so I would rather make sure the generator is formatting files before writing them down. WDYT?

[2020-11-20 21:35] philss commented on #50
Yeah, I agree with José. Maybe this can be an issue for https://github.com/aws-beam/aws-codegen?

[2020-11-20 21:35] vrcca commented on #50
I like this too. Though I would setup the formatter here too anyway, given that now we have manually written code such as AWS.HTTPClient and AWS.Request, AWS.Client, and others.

A point of attention when formatting in the generator is that some methods and parameters are dynamically written, so it may not end up formatted as the mix formatter would do. 🤔

Mit freundlichen Grüßen,

Vitor Cavalcant

[2020-11-29 15:52] #44 closed

[2020-11-30 07:12] vrcca commented on #45
I would like to work on this one! 😄

[2020-11-30 07:42] josevalim commented on #45
Please go ahead!

[2020-12-11 18:54] #45 closed

[2020-12-15 15:12] #41 closed

[2020-12-15 15:24] philss commented on #41
@lumenlunae This is fixed in master. Now you can pass the `Body` as a key of `input` when using `AWS.S3.pub_object/5`, like this:

[code]

The `md5` is optional here, but it's easier to check if works because S3 will cause an error in case the file is corrupted. Also, the return of this operation is `nil`. You can use `AWS.S3.list_objects_v2(client, bucket_name)` to retrieve the list of files.

Th

[2021-03-15 08:15] ryanwinchester opened #58 "Can I stream a large object from S3?"
Is there a way to do this? I'm not seeing anything in the docs, so just wondering if it is possible.

[2021-03-15 15:54] philss commented on #58
@ryanwinchester I think it's possible, but it would require to keep track of each section. There is a `range` parameter that you can use in https://hexdocs.pm/aws/AWS.S3.html#get_object/22, which makes this possible. I didn't play with it, but I will try and get back to you.

Also I think that it's possible to add more docs related to the parameters, because here you can find a more detailed expla

[2021-03-16 16:04] philss commented on #58
@ryanwinchester I made this small PoC to demonstrate how this would work using [`Stream.resource/3`](https://hexdocs.pm/elixir/Stream.html#resource/3): https://github.com/philss/aws-s3-stream-download-poc/blob/main/lib/download_manager.ex#L22

I'm closing the issue. Feel free to reopen if you need to :)

[2021-03-16 16:11] #58 closed

[2021-03-17 20:20] danschultzer opened #59 "Any HEAD requests such as `AWS.S3.head_object/4` fails"
The `AWS.HTTPClient` logic doesn't handle HEAD HTTP calls (in this case using `AWS.S3.head_object/4`):

[code]

This is due to this logic in `AWS.HTTPClient`:

[code]

A better approach would be to explicitly listen for the error tuples to prevent unexpected return values:

[code]

The specs for http client expects body to be a binary, but I think either the body should be optional, or it should b

[2021-03-17 20:30] danschultzer commented on #59
If using `nil` value then places like these two places have to be updated:

https://github.com/aws-beam/aws-elixir/blob/master/lib/aws/request.ex#L103-L113
https://github.com/aws-beam/aws-elixir/blob/master/lib/aws/request.ex#L44

FWIW, this is the current HTTP client impl I'm using to resolve this:

[code]

[2021-03-17 21:51] philss commented on #59
@danschultzer good catch! I was using a custom HTTP client and I didn't see this problem.

The HEAD requests [should not return a body](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/HEAD), so I think we should return `nil` as the body for those requests, and change the appropriate places.

Would you mind to send a PR?

[2021-03-17 21:52] philss commented on #59
And thank you for opening the issue :)

[2021-03-17 22:42] wojtekmach commented on #59
Consider returning empty string so instead of return value be `binary() | nil` it’s just `binary`. At least Finch does that but it might vary between http clients.

[2021-03-18 02:25] philss commented on #59
Wojtek has a good point. Returning only `binary()` makes things easier, since clients don't need to worry about treating `nil` values. So I am :+1: on returning an empty string.

[2021-03-23 10:25] berendeanicolae opened #60 "AWS.S3.get_object automatically decodes body as xml"
I'm trying to download a file from S3 using `AWS.S3.get_object(client, bucket, path)` but the function fails with the error
[code]

From what I see, the S3 module uses `rest-xml` as default protocol [1] which causes the response to be interpreted as a xml and decoded [2].
Is this the right way to download files or another function should be used?

[1] https://github.com/aws-beam/aws-elixir/blob/ma

[2021-03-23 11:09] robertoaloi commented on #60
Hi @berendeanicolae I found exactly the same while using the Erlang client. This has been fixed for the Erlang part, but it still needs to be applied to the Elixir side. An issue already exists for it: https://github.com/aws-beam/aws-codegen/issues/71

[2021-03-26 21:05] philss commented on #59
I'm going to tackle this one :)

[2021-03-26 22:29] philss commented on #60
Hi @berendeanicolae! :wave:
The problem is fixed on master (see #61). Thanks for opening the issue :purple_heart:

[2021-03-26 22:29] #60 closed

[2021-03-26 23:24] #59 closed

[2021-04-03 19:37] ryanwinchester opened #67 "S3.get_object with SSE-C signature error"
When I try to get an object with `AWS.S3.get_object/22` with an object encrypted with SSE-C, I get a mismatched signature error.

### Code:

[code]

### Response:

[code]

I have verified that I am using the same key as the upload.

I'm stumped...

[2021-04-04 06:38] philss commented on #67
Hi @ryanwinchester :wave:

I was able to reproduce the problem. I am investigating if there is any bugs related to the way we sign the request.
This may not be related with `SSE-C` but with the headers in the request signature process.

But just to gather more information, I would like to ask you some questions:
- how did you upload the file before? with aws-elixir?
- how did you generate your key

[2021-04-04 07:25] ryanwinchester commented on #67
I used a modified version of the sample code in the Phoenix Live View docs, for the direct-to-S3 upload from browser:
https://hexdocs.pm/phoenix_live_view/uploads-external.html#direct-to-s3

I mainly just add the SSE-C stuff.

For both upload and download I used `Plug.Crypto.KeyGenerator.generate/2` with a `password`string  and a `salt` from `:crypto.strong_rand_bytes(16)`

I've got a download pro

[2021-04-05 02:43] ryanwinchester commented on #67
Actually, I don't see a documented way to create a presigned URL.

All I can find is the undocumented `AWS.Request.sign_v4` for generating headers with signature.

[2021-04-05 14:15] philss commented on #67
@ryanwinchester thank you for all the information! :purple_heart:

I'm gonna try to reproduce the problem with `SSE-C` using another lib (ExAWS or something in another language).

[2021-04-06 00:32] philss commented on #67
@ryanwinchester I finally found the bug!! :smiley:
It is [fixed on master](https://github.com/aws-beam/aws-elixir/commit/306fe41adfc65250791cf3cd38c20186ee0e72d9). Can you give it a try?

PS: You may need to change the dependency name from `mix.exs` to `aws_elixir` when pointing to GitHub. I'm not sure if this is definitive.

[2021-04-06 07:52] ryanwinchester commented on #67
Wow, good catch on the ordering  stuff. I probably would not have caught that in a year.

I got a file to download! 🎉

It won't unzip, but probably an unrelated issue.
![](https://p196.p4.n0.cdn.getcloudapp.com/items/6qu8LAgy/5c4106bb-bba5-4a16-8e69-c35cac9f5917.png?v=c4a2c34e7a236e36aa7943ad5e389cf7)

I did need to.

Thanks so much!

[2021-04-06 07:52] #67 closed

[2021-04-08 17:31] philss commented on #67
@ryanwinchester FYI: I had to revert the application name back to `aws`, so you need to update back in your `mix.exs` :grimacing:

[2021-04-14 11:24] Victoria91 opened #68 "`AWS.S3.put_object` doesn't work with mp3 file"
I've tried to put mp3 file with code as shown in the example, so something like
[code]
The response was with status code 200:
[code]
However, when I reach the expected URL I got an error from S3
[code]

P.S. I tried to use `ExAws.S3.put_object` and everything worked fine.

[2021-04-14 14:29] philss commented on #68
Hi @Victoria91 :wave:

This is strange :thinking: It shouldn't fail based on file type.
I want to ask you to try two things:
- try to use the version from the master branch instead of the one from Hex.pm (a new version will arrive soon there).
- try to download the file using `AWS.S3` after you upload it.

I suspect if there is a problem it is related with something in the access of the file.

[2021-04-14 15:19] Victoria91 commented on #68
Hi, thanks for the reply!

I've just checked, we already using the latest version.

I tried via `AWS.S3.get_object`, it returns some content, however, it's not valid (I cant' play that mp3 if I write this content to file)

[2021-04-14 16:24] philss commented on #68
@Victoria91 thanks for trying out! Would you mind to check if the MD5 of the downloaded content is the same from what you are uploading? They are probably not the same, but I want just to confirm.

[2021-04-15 11:39] Victoria91 commented on #68
I've just checked, actually, the body and md5 are all the same, so I was mistaken before about different body, sorry.
As I've researched via S3 console, I've difference between file uploaded via `AWS.S3` and `ExAws.S3` was Content-Type metadata, in case with `ExAws.S3` it was  'application/octet-stream' while with `AWS.S3` it was 'text/xml'.
So once I've set Content-Type along with other headers e

[2021-04-16 16:57] philss commented on #68
@Victoria91 this is interesting! and no problem. :)

I'm verifying if this is a bug. Apparently the `Content-Type` should be `application/octet-stream` because this operation can send the body as stream. If this is a bug, we shouldn't need to update the readme. I will let you know.

[2021-05-02 09:22] tejpochiraju commented on #47
@RandomGuy2020 - I am getting the same error `The request signature we calculated does not match the signature you provided.` when calling `AWS.IoT.list_things`.

The client works fine for `AWS.S3` queries. I have been trying a few versions of `aws-elixir` to see which one works but haven't been able to identify one yet. When you refer to `version 6` do you mean the release `0.6.0`?

I will open a

[2021-05-05 17:28] philss commented on #47
@tejpochiraju did you try the version from GitHub (the master branch)?

[2021-05-21 20:40] justcoding121 opened #73 "Specifying queue name in SQS send_message"
How I can specify my queue name in the url of the request?

 I couldn't find the parameter that accepts the queue name in the method.

https://hexdocs.pm/aws/AWS.SQS.html#send_message/3
`send_message(client, input, options \\ [])`

[code]

Its sending POST to `https://sqs.us-east-1.amazonaws.com:443/`. Instead we need to send it to the queue url.
`https://sqs.us-east-1.amazonaws.com:443/account_nu

[2021-05-21 21:19] philss commented on #73
Hi @justcoding121 :wave:

According to the official guides, the queue is set by the `QueueUrl` parameter, which is the URL you mentioned.
See: https://docs.aws.amazon.com/AWSSimpleQueueService/latest/APIReference/API_SendMessage.html

Please feel free to re-open if this doesn't work. :)

[2021-05-21 21:19] #73 closed

[2021-05-21 23:43] justcoding121 commented on #73
Thanks! that worked.

I was looking at a different documentation, which shows queue name in the url.

https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-making-api-requests.html#structure-post-request

[2021-05-22 18:14] joaomdmoura opened #74 "crypto:hmac is being removed in Erlang 24"
This library is failing  to work on Erlang 24.

Erlang 24 which is released in and is removing crypto:hmac which this project uses.
This project should update to use the new crypto api so projects depending on it don't fail to build.
Here is the notes from Erlang 24 http://erlang.org/doc/general_info/scheduled_for_removal.html#otp-24

This is how plug_crypto handled this situation - https://github

[2021-05-22 18:53] joaomdmoura commented on #74
I see the code is trying too cover for this:

[code]

but for some reason I'm seeing it fail 🤔 will try to look into it and share any findings here.

[2021-05-22 19:00] joaomdmoura commented on #74
Oh I see,  that was not cut in the new version yet: https://github.com/aws-beam/aws-elixir/blob/v0.7.0/lib/aws/util.ex#L7

[2021-05-22 19:21] joaomdmoura commented on #74
Anyone out there going through the same thing, this should get the job done:
[code]

[2021-05-22 19:23] #74 closed

[2021-05-24 03:06] Maxim-Filimonov opened #75 "Sign form upload support"
Hey,
I'm using the library to implement [file upload](https://hexdocs.pm/phoenix_live_view/uploads-external.html) and trying to figure out how to do form signature. In the example, they are using hand written [generator](https://gist.github.com/chrismccord/37862f1f8b1f5148644b75d20d1cb073) for signature.

Does the library has support for something similar ?

[2021-05-24 13:57] pranavraja opened #76 "AWS.MediaLive.list_channels/1 returns a status_code: 403 response"
To reproduce:

[code]

This is because lib/aws/request.ex always sends a `payload`, even for `:get` requests:
[code]

This causes an empty JSON object `{}` to be sent in the HTTP request body, which gets rejected by the AWS API with 403.
Changing the payload to empty string for `:get` requests fixes the issue.

Happy to raise a PR to fix this, just not sure exactly where in the code would be most

[2021-05-24 14:36] philss commented on #75
Hi @Maxim-Filimonov :wave:

I don't think the lib has support for it. We do have the [signature part](https://github.com/aws-beam/aws-elixir/blob/master/lib/aws/request.ex#L491) because all the requests must be signed. But we don't have this "fields generator" based on policy.

I think it's reasonable to move the signature part to a public API if we want to allow this type of usage. WDYT?

[2021-05-24 14:52] philss commented on #76
Hi @pranavraja :wave:

Perhaps we shouldn't encode when the `input` is `nil`. Or maybe GET requests shouldn't be encode. I'm not sure :/
I will take a look later this week, but if you don't mind to confirm that and open the PR, it would be awesome! :D

[2021-05-25 11:12] pranavraja commented on #76
Yeah not sure which option would be cleaner, in any case I checked the repo and all uses of `:get` pass in `nil` as the `input` anyway, whereas other http verbs do pass in an `input`, so it seems either way would fix the issue. Do you have a preference?

[2021-05-25 12:17] Maxim-Filimonov commented on #75
Good question. Looking at SimpleS3Upload it actually does a bit more than just signature.
It also encodes the policy. Maybe exposing a public API which would allow to create signed fields directly would be a better option. I'm not sure does AWS sdk provides something like that.

[2021-06-15 06:18] ryanwinchester opened #77 "AWS.Lambda.invoke_async 403 with signature mismatch"
When we try to invoke a Lambda, we get a 403 error:

[code]

[code]

I can't understand what I could possibly mess up here, since there is not a lot of complexity in the `invoke_async/3` call?

Any ideas?

[2021-06-15 15:00] philss commented on #77
Hi @ryanwinchester :wave:
What the version of aws-elixir are you using?

I think we had some similar issues and we fixed in master. Can you try it?

[2021-06-15 18:06] ryanwinchester commented on #77
@philss happens using

[code]

[2021-06-15 19:07] philss commented on #77
@ryanwinchester thanks! I don't think it's something you are doing. It's probably another bug in the signature algorithm. I will investigate.

[2021-06-16 19:26] philss commented on #76
@pranavraja sorry for the delay. I think we can go with not encoding `GET` requests. WDYT?

[2021-06-16 19:56] philss commented on #77
@ryanwinchester I'm investigating this. But before I find the problem, can you try to use the `invoke` function with as a substitute for `invoke_async`? You can call `invoke` with `InvocationType` as `Event`, like the docs suggest:

[code]

[2021-06-17 06:43] ryanwinchester commented on #77
@philss same error for me

[2021-06-18 02:06] #77 closed

[2021-06-18 02:08] philss commented on #77
@ryanwinchester please try again updating from master. I managed to fix the problem :)

[2021-06-18 02:20] ryanwinchester commented on #77
[code]

[2021-06-21 19:06] cskaandorp opened #79 "Error when I try to reach MTurk"
Hey people,

I am very happy with your package, but something weird happens when I try to reach MTurk:

[code]

If something is wrong with roles, authentication I've seen different errors. This is is caused by Erlang's crypto module and I haven't got the foggiest of what I have done wrong. I am using plug_crypto 1.2.2.
Could you please help me out here

thanks!

Cspr

[2021-06-21 19:15] philss commented on #79
hey @cskaandorp :wave:
can you try to use the version from GitHub?

[code]

The problem is that `:crypto.hmac/3` was removed/renamed in OTP 24. This is fixed, but not released yet.

[2021-06-21 19:37] cskaandorp commented on #79
Thanks for the quick reply! Appreciate it!

Now I am getting this error:
[code]

[2021-06-21 19:38] philss commented on #79
@cskaandorp can you tell me the version of Erlang and Elixir that you have installed?

[2021-06-21 19:39] cskaandorp commented on #79
Erlang/OTP 23 [erts-11.1.6] [source] [64-bit] [smp:16:16] [ds:16:16:10] [async-threads:1] [hipe] [dtrace]
Elixir 1.11.3 (compiled with Erlang/OTP 23)

[2021-06-21 20:22] philss commented on #79
@cskaandorp thanks! I will try to reproduce the error. But before that, can you check if you set the region for your `client`? Seems that `region` or `service` is `nil` when we are trying to generated the signing key.

[2021-06-21 22:46] cskaandorp commented on #79
Hey @philss, this is my full code:

[code]

I sure hope I haven't made some stupid mistake. Thanks for getting into this.

Cspr

[2021-06-22 14:08] #79 closed

[2021-06-22 14:10] philss commented on #79
@cskaandorp I fixed in https://github.com/aws-beam/aws-elixir/commit/07017efc4cd9f5c245f7851736204ac91e15ec18, but I think there is another problem unrelated to the signature. Please try again pointing to master, and then let me know if this works for you :)

[2021-06-22 18:01] cskaandorp commented on #79
Hey @philss

Thanks so much for your effort. I have updated the package:
[code]
And it seems there is progression:
[code]
I've tried both with https://mturk-requester-sandbox.us-east-1.amazonaws.com and https://amazonaws.com. I have to admit that I am out of my depth here. Might be that I am barking up the wrong tree with my request.

Cspr

[2021-06-22 20:06] philss commented on #79
@cskaandorp I tried to set the endpoint to "us-east1.amazonaws.com" and it works! I mean, technically it works, because I don't have access to MTurk.
Can you try this?

[code]

PS: If you are trying to use the sandbox, then you need to create a new service module with the correct metadata. Something like this:

[code]
You can copy the functions from the original MTurk module at `lib/aws/generated/

[2021-06-23 12:23] vrcca commented on #76
[Checking the API.json for this,](https://github.com/aws/aws-sdk-go/blob/main/models/apis/medialive/2017-10-14/api-2.json#L8266) their shape doesn't include a `body` type, but only `querystring` types. Maybe the generator could check this instead? 🤔

[2021-06-30 15:08] cskaandorp commented on #79
@philss somehow I have missed your post. Thank you, and the rest of the group, so much for your comments, fix and the package. It is all working fine and I am working with it as we speak. Appreciate it!!

[2021-07-07 11:38] joshuataylor opened #81 "normalize_query won't work for s3 select"
[select_object_content](https://github.com/aws-beam/aws-elixir/blob/master/lib/aws/generated/s3.ex#L7093) builds a query string like this:
`select&select-type=2`
[normalize_query](https://github.com/aws-beam/aws-elixir/blob/master/lib/aws/signature.ex#L223) then expects URLs to have = in them, but this doesn't.

This causes the API not to work. So the function needs to be updated to support this e

[2021-07-07 20:02] philss commented on #81
@joshuataylor good catch! Maybe changing https://github.com/aws-beam/aws-elixir/blob/master/lib/aws/signature.ex#L227 to accept it is enough? I imagine swapping the comma by a cons `|` in the sort function args fixes the problem. WDYT? A PR is welcome!

[2021-07-15 21:34] cjbell opened #82 "Release 0.8.0?"
There are [quite a few changes](https://github.com/aws-beam/aws-elixir/compare/v0.7.0..master) since the last release, notably the fix for #71 which is required to support OTP 24. Could we have a new release published soon, please?

[2021-07-17 05:51] #68 closed

[2021-07-18 19:42] philss commented on #82
@cjbell done! Thanks for bringing this. My idea was to release early, but I had to focus on other things.

For this release I had a small problem with the docs - they are too big and couldn't be published - , but I will investigate better tomorrow.

[2021-07-18 19:42] #82 closed

[2021-07-19 02:23] cjbell commented on #82
🎉🎉🎉 thanks @philss

[2021-07-26 22:00] gabrielmancini opened #84 "AWS.S3.complete_multipart_upload(client, bucket, key, %{}) returns an error"
Hello Folk's

Nice lib! :-)

i had an error when try the s3 partial_upload part

the code:

[code]

error
[code]

some gotchas here?

[2021-07-27 21:20] philss commented on #84
Hi @gabrielmancini :wave:

Just to confirm: is the error occurring inside the stream?

Also, have you tried to use the `PartNumber` parameter for the `upload_part/4` call?

https://hexdocs.pm/aws/AWS.S3.html#upload_part/5

[2021-08-02 15:52] gabrielmancini commented on #84
hello @philss thanks for the reply ;-)

i change a little bit the code but i had the same issue, pls take a look.

the code:
[code]

the error:
[code]

all the parts appers to work fine, all of then returns status code 200, like this output sample:

[code]

[2021-08-03 22:20] jonathanhood opened #85 "Can't specify timestream query endpoint"
I'm attempting to use this library send queries to timestream. Timestream has a bit of a quirk in that queries against it must be executed on a seperate endpoint that is looked up via a describe API:

https://docs.aws.amazon.com/timestream/latest/developerguide/Using-API.endpoint-discovery.describe-endpoints.implementation.html

Now, the `AWS.TimestreamQuery.describe_endpoints` method does exist a

[2021-08-05 04:05] philss commented on #85
Hi @jonathanhood :wave:

I think an option to override the host is desirable, but I haven't thought about the entire endpoint. I think this can be made by defining a pattern to tell the `AWS.Request` to "keep" the given endpoint or host.
I think in something like this:

[code]

It could also be a function at `AWS.Client`. Maybe `AWS.Client.set_custom_endpoint(client, "endpoint")`.

And at the `AWS

[2021-08-18 01:43] ceolinrenato opened #87 "Presigning S3 get object URI"
Hey I was trying to use the lib to return a presigned url to access a file from inside a S3 bucket.

I was able to accomplish the task by following this docs https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html#query-string-auth-v4-signing-example

However I couldn't use `AWS.Signature.sign_v4_query/6` because it always tries to hash to payload and for requests without a pa

[2021-08-18 01:47] ceolinrenato commented on #87
I think a very simple fix like #88 could made the `AWS.Signature.sign_v4_query/6` work for this use case

[2021-08-18 01:49] ceolinrenato commented on #87
We could also update `test/aws/signature_test.exs` sign_v4_query/6 test, since it seems to be target to the same use case. We need to add data to the query string instead of headers.

[2021-08-18 11:31] ceolinrenato commented on #87
Working example of how to get presigned url to download a s3 object
[code]

[2021-08-18 14:20] jonatanklosko commented on #81
I believe this should be fixed by #86.

[2021-08-18 17:16] philss commented on #87
Hi @ceolinrenato :wave:
Thank you for opening the issue and the PR. Unfortunately we just removed the signature part from this library. The idea is to keep signature features in https://github.com/aws-beam/aws_signature and share that lib with the generated packages (aws-elixir and aws-erlang).
I think we can support this feature in that lib too.

I'm closing the issue and the PR, but I have opene

[2021-08-18 17:16] #87 closed

[2021-08-18 17:18] philss commented on #81
Yeah, I believe this is fixed. Thanks, @jonatanklosko! :purple_heart:
@joshuataylor please feel free to re-open if you find any issues.

[2021-08-18 17:18] #81 closed

[2021-08-18 17:22] philss commented on #50
I did fix this at some point in the last months.
Codegen is formatting the files before writing them down, and we also have a check in this project.
The only issue is that formatting config is not shared, so we may have issues in the future. But I think it's OK for now.
Thanks, guys! :purple_heart:

[2021-08-18 17:22] #50 closed

[2021-08-18 18:20] ceolinrenato commented on #87
Thanks for maintaining this lib @philss, Wish I knew some erlang to help on the aws-beam/aws_signature side

[2021-08-23 13:56] dergraf opened #89 "AWS.ApiGatewayV2.import_api and reimport_api may not work as expected"
Hello

I think I've found an issue with the way the APIGatewayV2 import/reimport code has been generated:

I expect that `AWS.ApiGatewayV2.reimport_api(client, rest_api_id, Jason.encode!(openapi_spec))` would import the openapi spec.
However, AWS returns an HTTP 415 (unsupported media type). I think the issue is related to the enforced use of `send_body_as_binary?`

I am able to successfully call

[2021-08-24 14:46] collegeimprovements opened #90 "Support for S3 Compatible APIs"
We use Linode's Object Storage. And it's fully compatible with S3.
When we try to use it with `aws-elixir` we get the following error.

[code]

`S3cmd` and other tools work fine with S3-related operations with Linode's storage: [Docs](https://www.linode.com/docs/products/storage/object-storage/guides/s3cmd).

Would this issue be in scope of this project ?

[2021-08-24 15:12] mrallen1 commented on #90
This isn't a problem with the aws elixir library per se, it's a problem with the TLS certificate validation step that happens _before_ the library sends commands to the API endpoint.  So what release of Elixir and Erlang are you using and how old your TLS certificates?

[2021-08-24 16:51] collegeimprovements commented on #90
I'm on latest version of Elixir and Erlang.

Elixir: `1.12.2-otp-24`
Erlang: `24.0.3`

[code]

[2021-08-24 20:12] mrallen1 commented on #90
OK, and whatever HTTP client you're using has an up-to-date certificate bundle? What about the remote endpoint?

IIRC, OTP 24 refuses to talk to older TLS implementations by default.

[2021-08-24 21:27] philss commented on #90
@collegeimprovements @mrallen1 I think we still don't support setting the endpoint directly in the client. This is similar to https://github.com/aws-beam/aws-elixir/issues/85
The reason for the error may be related to the `AWS.Resquest` overwriting the endpoint value.

[2021-08-24 21:29] philss commented on #89
Interesting! I will check there more in deep soon. Thanks, @dergraf!

[2021-08-29 14:37] zakimedina commented on #90
We are facing the same issue. Is there any workaround available now?

[2021-08-30 23:59] philss commented on #90
@collegeimprovements @zakimedina can you check this PR if it fixes your issue? https://github.com/aws-beam/aws-elixir/pull/91/files#diff-5a31358e99eb904d8d9019d153ff5dec3f14890d446a070ec1010934c71fb910R125

[2021-08-31 11:38] collegeimprovements commented on #90
Hi @philss, It works 😃 Thanks a lot ☺️

I checked, `list_buckets`, `get_object` and `put_object`.  All of them work like a charm.
Is there any way to create `pre_signed_url` ? I couldn't figure that out.

[2021-08-31 14:13] philss commented on #90
@collegeimprovements thank you for checking that :)

And yeah, pre signed urls are possible with another package: https://hex.pm/packages/aws_signature
Please check: https://hexdocs.pm/aws_signature/aws_signature.html#sign_v4_query_params/7

[2021-08-31 14:14] #90 closed

[2021-08-31 14:19] philss commented on #85
@jonathanhood I implemented a slightly different way to fix this issue. Can you try this with the master branch?

[code]

And make the request with this `client`.
This function also accepts a function to build the endpoint manually. You can check the options it accepts in the PR #91 .

[2021-09-01 13:57] philss commented on #85
I'm closing this. Feel free to re-open if it doesn't work for you. I should publish the package soon.

[2021-09-01 13:59] philss commented on #75
@Maxim-Filimonov I'm closing this because we moved the signature part to a new package: https://github.com/aws-beam/aws_signature
I think there is a better place to implement something like this. Thanks!

[2021-09-01 13:59] #75 closed

[2021-09-02 12:20] collegeimprovements commented on #90
Thanks a lot @philss. That works great.

Here is the function that we have for `signed_url`.
It may save some time for someone looking into it.

[code]

[2021-09-15 16:57] philss opened #92 "Add support for S3 metadata"
The idea is to replicate the fix of this issue: https://github.com/aws-beam/aws-codegen/pull/76

[2021-09-24 10:58] collegeimprovements commented on #90
Hi @philss,

Everything works well from aws-elixir point of view.
Though we are not able to upload a file from the signed-url.

I've created an [issue](https://github.com/aws-beam/aws_signature/issues/10) on aws-signature repo.
But I'm not sure what's wrong as the generated url works to access/download files.

[2021-09-24 15:21] philss commented on #90
@collegeimprovements I think Jonatan fix may solve the problem. Please take a look [there](https://github.com/aws-beam/aws_signature/issues/10).

[2021-09-28 21:08] pulzzedavid opened #93 "Spurious error message causing system to not come up in Mac OS on production build"
Tested on multiple versions of Mac OS, and same error message below is printed constantly. Strange thing is, it is working fine on other OSes. Does not seem to be an issue on a dev build.

[code]

[2021-09-28 21:20] philss commented on #93
@pulzzedavid is this specific to this module or the message appears multiple times for other modules?

[2021-09-28 22:06] pulzzedavid commented on #93
Specific to this module. Currently using release 0.8.0. Trying to see if same issue occurs on 0.7.0

[2021-09-28 22:13] philss commented on #93
Thanks!
Bizarre, because this module is small and don't have anything special.

I don't have a Mac OS system to test, but I will ask for help tomorrow if the problem persist.

@pulzzedavid before that, could you try to remove the `_build` and `deps` directories and try again?

[2021-09-28 22:19] pulzzedavid commented on #93
It's a CI build, so it is a fresh build every time. I do sometimes see this for DataPipeline module even for dev build.
[code]
But, the problem goes away when I rebuild it. Have not been able to reproduce it reliably though.

[2021-09-28 22:22] philss commented on #93
Interesting. Is the build configured to use cache? If so, can you show me the cache config line?

[2021-09-28 23:09] jadeallenx commented on #93
HFS has this weird case insensitivity situation because historically macOS has been case-insensitive

[2021-09-29 15:43] pulzzedavid commented on #93
I have tested with versions 0.9.0, 0.8.0, 0.7.0. Looks like the issue does not exist in 0.7.0, but exists in 0.8.0 and 0.9.0. Hope that helps.

[2021-10-01 12:57] collegeimprovements commented on #90
@philss Yes, it indeed fixed the issue. Thanks a lot :)

[2021-10-19 12:49] tomazbracic opened #94 "The request signature does not match"
Hey,

Running Elixir 1.12.3, OTP 24, MacOS 11.2.1 (Big Sur)

I've tried things first with v0.9.0, later changed deps in mix.exs to use master branch from git directly.

I can create a client with
[code]

All this works just fine. I get back my wanted results. All correct and works. But then I want to "describe" my AWS IoT Thing by its name. And this is at least to me most frustration part, that so

[2021-10-20 13:51] drowzy opened #95 "ServiceDiscovery discover_instances uses wrong endpoint prefix"
The endpoint [prefix](https://github.com/aws-beam/aws-elixir/blob/master/lib/aws/generated/service_discovery.ex#L27) works for all service discovery operations except:

* [DiscoverInstances](https://docs.aws.amazon.com/cloud-map/latest/api/API_DiscoverInstances.html)
* [UpdateInstanceCustomHealthStatus](https://docs.aws.amazon.com/cloud-map/latest/api/API_UpdateInstanceCustomHealthStatus.html)

Wh

[2021-10-27 16:24] gamecubate opened #96 "AWS.SQS.receive_message => bad character error"
Good lib! Thanks for that.

I've got a problem and am wondering how to go about debugging it (for all I know this could be on AWS' side).

[code]

Calling `AwsUtils.Worker.receive_message()` works most times but, from time to time, I get this error:
[code]

Has anyone ever seen this?

Thanks!

[2021-10-27 16:49] #96 closed, assigned to nobody

[2021-11-12 06:39] kw7oe opened #101 "Potential breaking changes not documented on CHANGELOG.md"
Hi all, just wanted to raise up an issue where a potential breaking changes is not documented in CHANGELOG.md.

In short, we found out that the error response of `v0.5.0` is different compared to `v.0.9.2` when attempting to update our dependencies:

[code]

After some deep dive, here's the file changes related:

- Latest: https://github.com/aws-beam/aws-elixir/blob/0ee85f3e745d73e05a986eca279d899

[2021-11-12 14:52] philss commented on #101
@kw7oe my bad :sweat_smile:
Yeah, It makes sense to document this. Please go ahead with the PR :+1:
And thank you! :purple_heart:

[2021-11-14 13:01] kw7oe commented on #101
All good @philss 👍🏻, no worry! It's just an oversight. Things happen, so nothing to sorry about.

I'll close this first since the PR is in!

Once again, thanks for all the work on this library 💯

[2021-11-14 13:01] #101 closed

[2021-12-03 15:16] Sahedeva opened #103 "Add Support for AWS Textract Analyzing ID Documents feature"
On December 1st 2021 Amazon announced a new feature for their Textract service - Analyze ID. This allows for extracting data from government issued ids (i.e. Driver's license). Multiple languages SDKs support this new feature. Aws-elixir Textract module does not.

Please add support for this.

https://aws.amazon.com/blogs/machine-learning/announcing-support-for-extracting-data-from-identity-docume

[2021-12-03 17:09] #103 closed

[2021-12-04 02:41] philss commented on #103
@Sahedeva this update is now available in the version 0.10.0 that was just released.

[2021-12-28 15:20] Sahedeva commented on #103
@philss just a quick update, I have successfully used the analyze_id feature using 0.10.0 - thank you so much for making this happen!

[2022-01-02 20:54] dynnamitt commented on #43
Just curious (and I know it's more layers) but did you try https://hexdocs.pm/aws/AWS.AutoScaling.html
I also wish the ec2 api would be support tho

[2022-01-02 21:09] dynnamitt opened #109 "~/.aws/credentials parsing, session layer ?"
Is a layer planned for implementing some of this:
https://docs.aws.amazon.com/sdk-for-go/api/aws/session/

~/.aws/credentials parsing to avoid duplicate config-files for aws-cli and this lib ?

[2022-01-03 17:05] philss commented on #109
@dynnamitt Interesting. I didn't know about this config file. Please go ahead if you to submit a PR :)

[2022-01-03 17:14] jadeallenx commented on #109
That's literally why [this library](https://github.com/aws-beam/aws_credentials) exists.

[2022-01-05 20:30] dynnamitt commented on #109
"aws_credentials" would solve some parts of it yes, but (there is always a but):

1. no ~/.aws/config provider
   profiles here can trigger new sts "credential request" via either:
        - mfa_serial (tricky interactive stuff)
        - assume-role (role_arn)
        - sso
2. [no hex.pm pubishing](https://github.com/aws-beam/aws_credentials/issues/30)

I'm just learning Elixir ... writing a `con

[2022-01-27 09:39] collegeimprovements opened #110 "AWS Rekognition not working as per the docs"
Hi Team,
I was trying to follow the generated docs for Rekognition service.
But I keep getting this error.

[code]

    We tried with `File.read!()` as well with no success.

[2022-01-27 15:12] philss commented on #110
Hi @collegeimprovements :wave:

I think the problem is that you are passing the input in a wrong format.

Please take a look: https://docs.aws.amazon.com/rekognition/latest/dg/API_DetectText.html
and https://docs.aws.amazon.com/rekognition/latest/dg/API_S3Object.html

For the docs, your request would look like this:

[code]

[2022-01-27 18:02] collegeimprovements commented on #110
Ah, Thanks a lot @philss. I was passing string instead of object as you suggested. It works now. Thanks a lot ☺️

[2022-01-27 18:02] #110 closed

[2022-02-16 16:54] onno-vos-dev opened #120 "Implement automatic retries in aws-elixir"
#### Description
In aws-erlang myself and a colleague implemented automatic retries as part of https://github.com/aws-beam/aws-erlang/pull/57. This may be a feature of interest for aws-elixir as well but seeing as I'm not super-duper-familiar with this codebase (nor Elixir for that matter) I'm opening an issue instead in case anybody else feels like picking this up :-) It could be a nice beginners

[2022-03-24 13:42] dmorn commented on #84
Hi there @gabrielmancini  and @philss!
I'm currently facing the same issue. One thing that is missing from above is a proper input payload.
I am building it like this
[code]

The error is the same though
[code]

It looks like this endpoint does not allow POST requests (see the Allow response header) 🤔

[2022-03-24 13:55] dmorn commented on #84
It is indeed specified as a POST in the spec document https://github.com/aws/aws-sdk-go/blob/a893727e4b5ed70693aa65bd1b081d4cdcd18a4b/models/apis/s3/2006-03-01/api-2.json#L33

[2022-03-24 13:56] onno-vos-dev commented on #84
:wave: Not super familiar with the Elixir code but in aws-erlang this is a `post` and I know for a fact that this seems to work just fine as we're multipart uploading giant files where I work using aws-erlang :thinking: So before going ahead and changing it, I'd like you (or someone else) to really scuba dive and ensure the bug isn't hiding elsewhere.

[2022-03-24 13:58] dmorn commented on #84
Hi @onno-vos-dev, thanks for joining in. I do think that this stinks.

[2022-03-24 14:17] dmorn commented on #84
Uh uh this is different indeed 😜 My erlang may be rusty now, it this what you're producing here?
[code]
The uploadId is lowercased here cause it is turned into a query parameter and should not be part of the payload (I double checked both the code and tried it with the uppercased version, I get a malformed input error from AWS)

[2022-03-24 14:21] dmorn commented on #84
I think your code produces the second payload I posted @onno-vos-dev right?

[2022-03-24 14:29] dmorn commented on #84
I just double checked how ExAws works as we do multi-part uploads with that lib in another project. The input payload they produce resembles the **first** one of the last above and they do indeed **POST**.

[2022-03-24 15:00] dmorn commented on #84
OOOOk fot it @onno-vos-dev. This is all about the input payload as expected. After inspecting the encoded request body a found that a proper elixir input is built like
[code]

And should produce a payload that looks like
[code]
So that was it, bad input @gabrielmancini ! I believe this issue can be closed @philss, thank you again @onno-vos-dev! 🙌

[2022-03-24 15:12] onno-vos-dev commented on #84
Now I can put Elixir on my CV :sweat_smile: Glad to see this is resolved!

Ok if I close this issue?

[2022-04-06 17:30] ruslandoga commented on #43
[code]
seems to work for me.

[2022-05-26 06:35] homanchou opened #141 "Bug: SQS send_batch_message error encoding list of Entries"
I'm looking at the docs for [https://hexdocs.pm/aws/AWS.SQS.html#send_message_batch/3](https://hexdocs.pm/aws/AWS.SQS.html#send_message_batch/3)

[code]

but it's not clear what the `input` parameter is.  Looking at the aws sdk docs for javascript and golang, I'm inferring that `input` is something like this in elixir:

[code]
Where the `Entries` key should probably be something like a list of map

[2022-05-27 18:29] homanchou commented on #141
Here is more of the error:

[code]

If I try to Jason.encode! the "Entries" as you recommended, then I get this response error from AWS:

[code]

[2022-05-30 01:30] philss commented on #141
@homanchou thank you. I will take a look this week. It's a bug in the encoding of query strings.

[2022-06-02 15:38] philss commented on #141
@homanchou I fixed this in #142

Also, I think your payload is wrong. According to the [SendMessageBatch docs](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/APIReference/API_SendMessageBatch.html), you need to pass the entries with the "SendMessageBatchRequestEntry" key (not "Entries").

The `input` map will look like this:

[code]

To send the message you will do:

[code]

Just another

[2022-06-02 16:08] #141 closed

[2022-06-02 16:09] philss commented on #141
@homanchou please try using the version from the master branch.

[2022-07-04 19:09] aleDsz commented on #109
@dynnamitt I'll open a PR based on your project (dynnamitt/ex_aws_cconf#1) to [`aws_credentials`](https://github.com/aws-beam/aws_credentials), which already support multiple profiles, but only via application env/erlang env. This is debatable on how this application should handle these configurations, but we should be able to read the sabe profile for both files.

The code is here: https://github

[2022-07-18 04:07] smashedtoatoms opened #143 "Need help with assuming roles with tags."
When I try to call `AWS.STS.assume_role` and tag the role, I can't figure out the data structure it wants for the tags.  The Go docs say it should be a list of structs with `Key` and `Value` as the attributes of the struct.  I have no idea what that translates to in elixir.

1)  I started with a map
[code]
   resulted in
[code]
2) So I put a map in a list to more closely match the Go SDK
[code]

[2022-07-18 13:18] philss commented on #143
@smashedtoatoms This is presumably fixed on master (by https://github.com/aws-beam/aws-elixir/pull/142). Can you try to use that version?

I'm going to release a new version if that works for you.

[2022-07-18 13:32] smashedtoatoms commented on #143
Here is the error if I use a list of structs:
[code]

[2022-07-18 13:36] smashedtoatoms commented on #143
I tried list of keyword lists as well:

[code]

[2022-07-18 13:41] onno-vos-dev commented on #143
Disclaimer: I do not use `aws-elixir` and there may be some slight differences between `aws-elixir` and `aws-erlang` (which I do use) but could you try passing tags as follows:
[code]

So forgive me for butchering potentially as I don't know if this even compiles but something along the lines of:
[code]

@smashedtoatoms ^

[2022-07-18 13:44] philss commented on #143
@smashedtoatoms sorry, I'm not sure how this supposed to be. Maybe something like you mentioned that is accepted in the command line? Reference: https://docs.aws.amazon.com/IAM/latest/UserGuide/id_session-tags.html#id_session-tags_adding-assume-role

I would try:

[code]

[2022-07-18 14:02] onno-vos-dev commented on #143
It's the whole AWS API when it comes to tagging which is utter crazyness if you ask me... But glad to have helped! I'll document it in the README tonight as this is not the first time it came up and I know I struggled with it as well when getting these damn tags to work :-)

[2022-07-18 14:03] onno-vos-dev commented on #143
Are you ok with closing this @smashedtoatoms ?

[2022-07-18 14:07] smashedtoatoms commented on #143
Yep, let's close it. When I get assuming a tagged role done, I will do a PR for some example code.

[2022-07-18 14:07] #143 closed

[2022-08-10 14:51] averypeck commented on #93
I have seen this issue for 0.12.0, but it doesn't exist on 0.11.0. For me the modules with the errors are Elixir.AWS.CloudSearchDomain and Elixir.AWS.ImportExport.

[2022-08-30 10:43] shirawebill opened #145 "nxdomain errror when using AWS.Location.search_place_index_for_text"
The code in AWS.Request.build_host 1 (https://github.com/aws-beam/aws-elixir/blob/v0.12.0/lib/aws/request.ex#L165)
will produce a hostname like:
**geo.eu-west-1.amazonaws.com**
 for these requests, but that host doesn’t exist

The Amazon documentation (https://docs.aws.amazon.com/location/latest/developerguide/location-regions.html)
says that the correct host for a place search in eu-west-1 is:
**

[2022-08-30 11:30] philss commented on #145
Hi @shirawebill :wave:
I'm going to take a look. This is probably something we are missing in the generator (aws-codegen).

[2022-08-30 12:30] nallwhy commented on #93
It happens me to with `Elixir.AWS.CloudSearchDomain` and `Elixir.AWS.Cloudsearchdomain`.
I'm using m1 macbook.

[2022-08-31 15:50] nallwhy commented on #93
There are two module in docs of 0.12.0

https://hexdocs.pm/aws/0.12.0/AWS.Cloudsearchdomain.html
https://hexdocs.pm/aws/0.12.0/AWS.CloudSearchDomain.html

[2022-08-31 16:48] nallwhy commented on #93
It happens on this commit

https://github.com/aws-beam/aws-elixir/commit/58aac5ba6f03396fdb1b84106ca9a03b5fd98e0d

[2022-08-31 23:46] philss commented on #145
@shirawebill would you mind to try with the version from this branch => `ps-add-host-prefix-to-request` ?

[code]

[2022-08-31 23:46] philss commented on #145
If this passes for you, I should release a version with the fix.

[2022-09-01 06:48] shirawebill commented on #145
Hi @philss
Thank you so much.

It does work for me; please see the below response:

[code]

[2022-09-01 11:53] philss commented on #145
Cool!
I should probably release a new version with this later today.
I will let you know :)

[2022-09-02 08:48] #145 closed

[2022-09-02 09:08] philss commented on #145
@shirawebill I new version with the fix is released. It is `v0.13.0`.Thank you for reporting this!

[2022-09-02 09:44] shirawebill commented on #145
@philss thank you!!!

[2022-09-04 00:16] iguberman opened #148 "Loading issue with modules that shouldn't be generated: AWS.Cloudsearchdomain and AWS.Importexport (Instead of CamelCase counterparts)"
Problem with either  0.13.0"  or 0.12.0.   Been using this gependency for local dev/testing no problem.   But when I run `mix release` and consequently path/to/rel/my_app start |start_iex|daemon|etc.:

(no logger present) unexpected logger message: {log,error,"~s~n",["beam/beam_load.c(180): Error loading module 'Elixir.AWS.CloudSearchDomain':\n  module name in object code is 'Elixir.AWS.Cloudsearc

[2022-09-07 11:33] #148 closed

[2022-09-07 11:46] philss commented on #148
Hi, @iguberman :wave:

Thanks for reporting this! I think it's fixed now. I released a new version, `v0.13.1`. Please update.

[2022-09-07 11:49] philss commented on #93
I believe this problem is now fixed after https://github.com/aws-beam/aws-elixir/pull/149

This was a problem in the generator workflow, that was not tracking removed files. Please update to version `0.13.1`.

[2022-09-07 11:49] #93 closed

[2022-09-07 11:57] philss commented on #95
@drowzy sorry for the delay. Would you mind to check again?
I think this is fixed after https://github.com/aws-beam/aws-elixir/pull/147 and the release of `v0.13.0`

[2022-09-07 12:39] drowzy commented on #95
No worries! I can't verify since I'm currently not using AWS anymore so I don't have an account 😄. But looking at #147 it seems like it solves this issue :)

[2022-09-07 13:21] philss commented on #95
Ohh, I see 😄
Thanks! So I'm closing this one.

[2022-09-07 13:22] #95 closed

[2022-09-11 22:05] iguberman commented on #148
Fantastic!   Thank you so much! @philss  I'll update.

[2022-10-24 16:56] kundertk commented on #92
Is there a chance this fix will get integrated into the library at some point?

[2022-10-24 22:29] philss commented on #92
@kundertk yes, but I can't say when. I can't focus on this right now, but I can guide you if you want to give it a try and send a PR. :)

[2022-11-27 12:42] fergusg opened #152 "AWS.ApiGatewayManagementApi, URL and headers with stage"
I am using `ApiGatewayManagementApi.post_to_connection` setting the endpoint to  `{api-id}.execute-api.{region}.amazonaws.com/{stage}`

However the API is sending

[code]

instead of what I expect:

[code]

I am very new to both Elixir and this API.   I was able to hack `post_to_connection` to hard code the `/{stage}` (and omit from the endpoint) and verified that the API works otherwise as expect